/*UNIVERSAL STYLES*/
body {
	font-family: 'Poiret One';
}
li {
	list-style: none;
	display: inline-block;
}
a {
	text-decoration: none;
	color: #000;
}
.hide {
	display: none;
}
.show {
	display: block!important;
}
/*HEADER SECTION*/
#header-section {
	width: 100%;
	height: 4em;
	position: fixed;
	background: #fff;
	z-index: 1;
}
#header-section .logoHeader {
	float: left;
	margin: 1em 0 0 2em;
}
#header-section .logoHeader img{
	height:2.5em;
}
#header-section ul {
	float: right;
}
#header-section .fa-bars {
	display: none;
}
#header-section .navButtons li {
	margin-right: 2em;
}
#header-section .navButtons li:hover {
	font-weight: 900;
	cursor: pointer;
}

/*INTRO SECTION*/
.introImage {
	background: url('../images/yoga.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 50em;
	-webkit-filter:opacity(.4);
}
.introTextWrapper {
	width: 100%;
	padding-top: 20em;
	text-align: center;
	position: absolute;
	top:0;
}
.introTextWrapper h1, 
.introTextWrapper p {
	width: 60%;
	margin: 1em auto;
}
.introTextWrapper p {
	font-size: 1.1em;
}
.introTextWrapper a p:hover {
	font-weight: 900;
}
/*CALENDAR SECTION*/
#calendar-section {
	padding-top: 1em;
}
#calendar-section iframe {
	width: 80%;
	display: block;
	margin: 5em auto;
	box-shadow: 10px 10px 5px grey;
}
/*SOCIAL SECTION*/
#social-section {	
	border-top: 1px solid #000;
	text-align: center;
	width: 60%;
	margin: 5em auto;
}

#social-section li {
	display: block;
	text-align: left;
	margin-bottom: 1em;
}
#social-section li:hover {
	font-weight: 900;
}
#social-section i {
	margin-right: 1em;
}

/*FOOTER SECTION*/
#footer-section {
	border-top: 1px solid #000;
	text-align: center;
	width: 60%;
	margin: 0 auto;
	color: #424242;
}
#footer-section li {
	display: inline;
}
#footer-section i {
	font-size: 1.5em;
	margin-right: 1em;
}
#footer-section i:hover {
	color: #000;
	cursor: pointer;
}
#footer-section a {
	color: #424242;
}

/*MEDIA QUERIES*/
@media (max-width: 40em) {
	#header-section .fa-bars {
		display: block;
		float: right;
		font-size: 2em;
		margin: .5em 1em 0 0;
	}
	#header-section ul {
		background: #fff;
		width: 100%;
		padding: 0;
		margin-top: 0;
		display: none;
	}
	#header-section .navButtons li:first-child {
		border-top: 1px solid;
	}
	#header-section .navButtons li {
		display: block;
		border-bottom: 1px solid;
		margin-right: 0;
		padding: 1em 0;
		text-align: center;
	}
	.introImage {
		min-height: 32em;
	}
	.introTextWrapper {
		padding-top: 7em;
	}
	.introTextWrapper h1, 
	.introTextWrapper p {
		width: 95%;
		margin: 1em auto;
	}
	#calendar-section iframe {
		width: 100%;
	}
	/*#calendar-section iframe .nav-table {
		white-space: pre-wrap; //can't seem to target elements within the iframe
	}*/
	#social-section {
		width: 90%;
	}
}